.body { 
    display: flex; 
    overflow: scroll; 
    width: 100%; 
  } 
 
.select { 
    font-family: sans-serif; 
    text-align: center; 
}

.panel {
  font-family: helvetica, sans-serif;
  text-align: center;
  /* overflow: scroll; */
  width: 100%;
  align-items: center;
}

p {
  color: black;
  font-family: helvetica, sans-serif;
}

h1 {
  color: black;
  font-family: helvetica, sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  color: black;
	font-family: helvetica, sans-serif;
  text-align: center;
  padding: 16px;
  font-size: 30;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.badgeP {
  background-color: #D16969;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.badgeC {
  background-color: #6A9955;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.box {
  text-align: center;
}
.box div {
  width: 200px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: arial, sans-serif;
}

.input {
  margin-bottom: 15px;
  align-items: center;
}

.solve p {
  color: white
}

.Button {
  text-align: center;
  align-items: center;
}

.error {

  color: #D16969;
  align-items: center;
}

.pass {

  color: white;
  align-items: center;
}

.head {
  color: white;
  align-items: center;
}