.body { 
    display: flex; 
    overflow: scroll; 
    width: 100%; 
  } 
 
.select { 
    font-family: sans-serif; 
    text-align: center; 
}

.panel {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}